@import "https://fonts.googleapis.com/css?family=Montserrat";
body{margin:0 auto;font-family:"Montserrat",sans-serif;font-size:12pt;background:#E4E4E4}
a{text-decoration:none}
.body-content{padding-left:15px;padding-right:15px}
input,select,textarea{max-width:280px}
.wrapper{transform:translate(-50%,-50%)}
.wrapper,.view{position:absolute;top:50%;left:50%;min-width:200px;padding:40px;background:#fff}
.wrapper-bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;}
.color{width:75px;height:25px;display:inline-block}
.red{background:#c0392b}
.btn.red:hover{background:#AC2D20}
.orange{background:#e67e22}
.yellow{background:#f1c40f}
.blue{background:#2980b9}
.btn.blue:hover{background:#2070A5}
.green{background:#26A65B}
.btn.green:hover{background:#249A55}
.purple{background:#8e44ad}
table{width:100%}
td{padding:10px}
td:first-child{min-width:30px}
input[type="number"]{text-align:center;max-width:80px}
.t-center{text-align:center}
.key{padding:7px 10px;border:1px solid #9D9D9D;border-radius:5px;box-shadow:0 2px 2px rgba(0,0,0,0.2);display:inline-block}
.popup{visibility:hidden;z-index:1000;box-shadow:0 0 6px 6px rgba(0,0,0,0.1);transform:translate(-30%,-50%)}
.show{visibility:visible;transform:translate(-50%,-50%);transition:all .3s cubic-bezier(0.25,0.5,0.5,0.9)}
.show ~ .overlay{visibility:visible;opacity:1}
.overlay{position:fixed;top:0;left:0;width:100%;height:100%;background:#E4E4E4;visibility:hidden;opacity:0;z-index:900}
.btn{display:block;padding:15px;text-align:center;color:#fff;text-decoration:none;margin-top:10px}
#trial-body{position:absolute;top:0;left:0;height:100%;width:100%;background:#fff;text-align:center}
#main-image{height:100%;width:auto}
#top,#bottom,#left,#right{background:#2c3e50;position:fixed}
#left,#right{top:0;bottom:0;width:75px}
#left{left:0}
#right{right:0}
#top,#bottom{left:0;right:0;height:75px}
#top{top:0}
#bottom{bottom:0}
.loading{position:fixed;z-index:999;height:2em;width:2em;margin:auto;top:0;left:0;bottom:0;right:0}
.loading:before{content:'';display:block;position:fixed;top:0;left:0;width:100%;height:100%;background-color:#E4E4E4}
.loading:not(:required){font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
.loading:not(:required):after{content:'';display:block;font-size:10px;width:1em;height:1em;margin-top:-.5em;-webkit-animation:spinner 1500ms infinite linear;-moz-animation:spinner 1500ms infinite linear;-o-animation:spinner 1500ms infinite linear;animation:spinner 1500ms infinite linear;border-radius:.5em;-webkit-box-shadow:rgba(0,0,0,0.75) 1.5em 0 0 0,rgba(0,0,0,0.75) 1.1em 1.1em 0 0,rgba(0,0,0,0.75) 0 1.5em 0 0,rgba(0,0,0,0.75) -1.1em 1.1em 0 0,rgba(0,0,0,0.5) -1.5em 0 0 0,rgba(0,0,0,0.5) -1.1em -1.1em 0 0,rgba(0,0,0,0.75) 0 -1.5em 0 0,rgba(0,0,0,0.75) 1.1em -1.1em 0 0;box-shadow:rgba(0,0,0,0.75) 1.5em 0 0 0,rgba(0,0,0,0.75) 1.1em 1.1em 0 0,rgba(0,0,0,0.75) 0 1.5em 0 0,rgba(0,0,0,0.75) -1.1em 1.1em 0 0,rgba(0,0,0,0.75) -1.5em 0 0 0,rgba(0,0,0,0.75) -1.1em -1.1em 0 0,rgba(0,0,0,0.75) 0 -1.5em 0 0,rgba(0,0,0,0.75) 1.1em -1.1em 0 0}
@-webkit-keyframes spinner {
0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}
}
@-moz-keyframes spinner {
0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}
}
@-o-keyframes spinner {
0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes spinner {
0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}
}