
@{
    ViewBag.Title = "Index";
}

<div class="wrapper">
    <a href="#" id="settings-btn" class="btn blue">Settings</a>
    <a href="#" id="data-btn" class="btn blue">Data Logs</a>
    <a href="#" id="start-exp-btn" class="btn green">Start Experiment</a>
</div>

<div id="settings" class="popup">
    <table>
        <tr>
            <td>Category:</td>
            <td>
                <select id="category">
                    <option value="1" selected>Animals</option>
                    <option value="2">Real Estate</option>
                    <option value="3">Sports</option>
                    <option value="4">Nature</option>
                    <option value="5">Tattoos</option>
                    <option value="6">Celebrities</option>
                    <option value="7">Food</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Clarity Reward:
            </td>
            <td>
                <input id="clarity-reward" type="number" min="-100" max="100" value="0.05" step="0.01"/>
            </td>
        </tr>
        <tr>
            <td>Number of Trials:</td>
            <td>
                <input id="num-trials" type="number" min="1" max="100" value="4" />
            </td>
        </tr>
        <tr>
            <td>
                Trial Duration:
            </td>
            <td>
                <input id="trial-duration" type="number" min="0" value="60" /> seconds
            </td>
        </tr>
    </table>
    <div class="t-center"><p>Components</p></div>
    <table>
        <tr>
            <td>1.</td>
            <td>
                Clarity: <input id="clarity-1" type="number" min="-100" max="100" value="0" step="0.01"/>
            </td>
            <td>
                <span class="color red"></span>
            </td>
        </tr>
        <tr>
            <td>2.</td>
            <td>
                Clarity: <input id="clarity-2" type="number" min="-100" max="100" value="0.01" step="0.01"/>
            </td>
            <td>
                <span class="color orange"></span>
            </td>
        </tr>
        <tr>
            <td>3.</td>
            <td>
                Clarity: <input id="clarity-3" type="number" min="-100" max="100" value="0.05" step="0.01"/>
            </td>
            <td>
                <span class="color yellow"></span>
            </td>
        </tr>
        <tr>
            <td>4.</td>
            <td>
                Clarity: <input id="clarity-4" type="number" min="-100" max="100" value="0.10" step="0.01"/>
            </td>
            <td>
                <span class="color green"></span>
            </td>
        </tr>
        <tr>
            <td>5.</td>
            <td>
                Clarity: <input id="clarity-5" type="number" min="-100" max="100" value="0.25" step="0.01"/>
            </td>
            <td>
                <span class="color blue"></span>
            </td>
        </tr>
        <tr>
            <td>6.</td>
            <td>
                Clarity: <input id="clarity-6" type="number" min="-100" max="100" value="1" step="0.01"/>
            </td>
            <td>
                <span class="color purple"></span>
            </td>
        </tr>
    </table>
    <a href="#" id="save-btn" class="btn green">Save</a>
    <a href="#" id="cancel-btn" class="btn red">Cancel</a>
</div>

<div id="instructions" class="popup">
    <p>Press <span class="key">A</span> to reveal the image.</p>
    <p>Press <span class="key">N</span> to change the image.</p>
    <p>When you're ready, press "Start" to begin the experiment!</p>
    <a href="#" id="start-trial-btn" class="btn green">Start</a>
</div>
<div id="trial-body" style="display:none">
    <img id="main-image" src="" style="opacity:0" />
    @*<div id="button-rate"></div>
    <div id="button-count"></div>
    <div id="seconds"></div>*@
</div>
<div id="border" style="display:none">
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
</div>

<div id="data-logs" class="popup">
    <table id="data-table">
        <tbody>
        </tbody>
    </table>
    <a href="#" class="back-btn btn blue">Back</a>
</div>

<div id="notify" class="popup">
    <p id="notify-body"></p>
    <a href="#" class="ok-btn btn green">OK</a>
</div>

<div class="loading" style="display:none">Loading...</div>
<div class="overlay"></div>
